@model WebApplication5.Models.User

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form action="" method="post">
            <centre> <u>Do you want to SignIn/SignUp?</u></centre>  <input type="submit" value="SignIn" style="border: solid;background-color: #000000;color: #ffffff;margin-left: 20px; margin-top:10px" onclick="document.location.href('/Hotel/Login')" />
            <input type="submit" value="SignUp" style="border: solid;background-color: #000000;color: #ffffff;margin-left: 10px" onclick="document.location.href('/Hotel/Register')" />
            <span>@ViewBag.Msg</span>
            <br />
            <centre><p> OR<p /></centre>

            <centre><p> <u>Book As a Guest:</u><p /></centre>
        </form>



        @if (Session["userName"] == null)
        {

        }
        else
        {
            <p style=" margin-left:900px;"><b>Welcome, @Session["userName"] </b></p>
            <input type="submit" value="LogOut" style="margin-left: 900px" formmethod="post" onclick="document.location.href('/Hotel/Logout')" />
        }
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.First_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.First_Name, new { @class = "form-control", @Value = Session["firstName"] })
                @Html.ValidationMessageFor(model => model.First_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Last_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Last_Name, new { @class = "form-control", @Value = Session["lastName"] })
                @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Street_Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Street_Number, new { @class = "form-control", @Value = Session["Street_Number"] })
                @Html.ValidationMessageFor(model => model.Street_Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.City, new { @class = "form-control", @Value = Session["City"] })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Province_State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Province_State, new { @class = "form-control", @Value = Session["Province_State"] })
                @Html.ValidationMessageFor(model => model.Province_State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Country,
               new SelectList(Model.Countries, "Value", "Text"),
               new { @class = "form-control", @Value = Session["Country"] })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Postal_Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Postal_Code, new { @class = "form-control", @Value = Session["Postal_Code"] })
                @Html.ValidationMessageFor(model => model.Postal_Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone_Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Phone_Number, new { @class = "form-control", @Value = Session["Phone_Number"] })
                @Html.ValidationMessageFor(model => model.Phone_Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.E_mail_Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.E_mail_Address, new { @class = "form-control", @Value = Session["EmailAddress"] })
                @Html.ValidationMessageFor(model => model.E_mail_Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>

            <input type="submit" value="Proceed to Pay" style="border: solid;background-color: #000000;color: #ffffff;margin-left: 250px" formmethod="post" formaction="/Hotel/ContactInformation" />

        </div>

    </div>
}
<br />
<br />
<br />
<br />
<a href="@Url.Action("reserve","RoomReservation")">Return To Reservation Booking</a>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}