@model System.Data.DataTable
@{
                /**/


                ViewBag.Title = "ShowBookingHistory";
}

<h1>Booking History Information</h1>
<br />
<br />
<br />
<br />
<div style="background-color:white">
    <table class="table table-bordered table-striped">
        <tr>
            <th>Reservation ID</th>
            <th>Check In Date</th>
            <th>Check Out Date</th>
            <th>No Of Rooms</th>
            <th>No Of Guests</th>

        </tr>
        @for (int i = 0; i < Model.Rows.Count; i++)
        {
            <tr>
                <td>@Model.Rows[i][0]</td>
                <td>@Model.Rows[i][1]</td>
                <td>@Model.Rows[i][2]</td>
                <td>@Model.Rows[i][3]</td>
                <td>@Model.Rows[i][4]</td>
            </tr>

        }
    </table>
</div>
<br />
<br />
<a href="@Url.Action("front","RoomReservation")">Return To Home Page</a>
