
@{
                /**/

                /**/

                ViewBag.Title = "Transaction Form";
}
<br />
<h2><u>Royal Bank of Canada : Pay by Credit Card</u></h2>
<form id="trxn-form">
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2" for="Price/Room">Price/Room</label>
            <div class="col-md-10">
                100
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Room Number">Room Number</label>
            <div class="col-md-10">
                @ViewBag.roomNumber
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Total Price">Total Price</label>
            <div class="col-md-10">
                @ViewBag.totalPrice
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Credit Card">Credit Card</label>
            <div class="col-md-10">
                <input id="CardCategory" name="CardCategory" type="radio" value="2" required>
                Visa
                <input id="CardCategory" name="CardCategory" type="radio" value="1">
                MasterCard
                <input id="CardCategory" name="CardCategory" type="radio" value="3">
                American Express

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Name on Credit Card">Name on Credit Card</label>
            <div class="col-md-10">
                <input id="NameOnCard" name="NameOnCard" type="text" value="" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Credit Card Number">Credit Card Number</label>
            <div class="col-md-10">
                <input id="CardNumber" name="CardNumber" type="text" value="" required>
                (No spaces or dashes, please)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Expiration Date">Expiration Date</label>
            <div class="col-md-10">
                <input id="ExpDate" name="ExpDate" type="text" value="" required>
                MM/YYYY
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" id="submit-btn" style="  border: solid;background-color: #000000;color: #ffffff;margin-left:100px;">Pay</button>
            </div>
        </div>

        <div id="show_link" style="padding-top:10px;">

        </div>
    </div>
</form>
<br />
<br />
<br />
<a href="@Url.Action("ContactInformation","Hotel")" style="margin-left:150px">Edit Contact Information</a>

@section Scripts {
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#submit-btn").click(function (e) {
                e.preventDefault();
                var formData = $("#trxn-form").serialize(),
                    form = $("#trxn-form")[0];

                if (!form.checkValidity()) {
                    if (form.reportValidity) {
                        form.reportValidity();
                        return false;
                    }
                }

                var exp_date = $('#trxn-form').find('input[name="ExpDate"]').val(),
                    card_name = $('#trxn-form').find('input[name="NameOnCard"]').val(),
                    card_category = $('#trxn-form').find('input[name="CardCategory"]:checked').val(),
                    card_number = $('#trxn-form').find('input[name="CardNumber"]').val(),
                    regStr = '[;:!' + '@("@")' + '#$%^*+?/<>1234567890]',
                    name_filter = new RegExp(regStr),
                    filter = new RegExp("^(0[1-9]|1[0-2])\/20(1[6-9]|2[0-9]|3[0-1])$"),
                    card_filter, alert_msg = "Card number is incorrect";
                if (name_filter.test(card_name)) {
                    alert('Card holder name should not contain the characters like [; : ! '+'@("@")'+' # $ % ^ * + ? / < > 1 2 3 4 5 6 7 8 9 0 ]');
                    return false;
                }
                if (!filter.test(exp_date)) {
                    alert("MM is between 01 and 12, YYYY is between 2016 and 2031");
                    return false;
                }
                if (card_category == 1) {
                    card_filter = new RegExp("^5[1-5][0-9]{14}$");
                    alert_msg = "MasterCard number length should be 16 with prefix 51-55";
                } else if (card_category == 2) {
                    card_filter = new RegExp("^4[0-9]{15}$");
                    alert_msg = "Visa number length should be 16 with prefix 4";
                } else if (card_category == 3) {
                    card_filter = new RegExp("3(4|7)[0-9]{14}");
                    alert_msg = "American Express number length should be 15 with prefix 34 or 37";
                }
                if (!card_filter.test(card_number)) {
                    alert(alert_msg);
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: "/Transaction/AddTrxn",
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        if (data.success == true) {
                            $("#show_link").empty();
                            $("#show_link").append("Generate the transaction <a href='/Transaction/ShowTrxn?tid="+data.tid+"' target='_blank'>"+data.tid+"</a> successfully");
                            $("#show_link").show();
                            $("#submit-btn").attr("disabled", "disabled");
                        } else {
                            $("#show_link").hide();
                        }
                    }
                })
            })
        });
    </script>
}



